body {
  overflow-y: hidden;
}

md-card md-card-header md-card-avatar {
	width: 66px;
	height: 66px;
}
md-card md-card-header md-card-avatar+md-card-header-text .md-title {
	font-size: 16px;
	font-weight: bold;
}
.down- {
  transform: translateY(3px);
}
.selected-sort {
	font-size:20px;
	text-transform: none;
}
.subhead:before {
	content: attr(data-subhead) ": ";	
}
.md-scale.md-is-open .md-fab-action-item {
  transform: scale(1);
}

.grayscale {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.button_inactive {
  color: inherit;
}

.button_active {
  color: white;
}

a.twitter {
  color: #4099FF;
}
a.twitter:visited {
  color: #4099FF;
}
a.twitter:hover {
  color: #4099FF;
}
a.twitter:active {
  color: #4099FF;
}

a.instagram {
  color: #125688;
}
a.instagram:visited {
  color: #125688;
}
a.instagram:hover {
  color: #125688;
}
a.instagram:active {
  color: #125688;
}

a.facebook {
  color: #3b5998;
}
a.facebook:visited {
  color: #3b5998;
}
a.facebook:hover {
  color: #3b5998;
}
a.facebook:active {
  color: #3b5998;
}

a.linkedin {
  color: #007bb6;
}
a.linkedin:visited {
  color: #007bb6;
}
a.linkedin:hover {
  color: #007bb6;
}
a.linkedin:active {
  color: #007bb6;
}

.two-zero {
  font-size: 2em;
}

.one-five {
  font-size: 1.5em;
}

.fade.ng-enter {
  transition: 0.5s linear all;
  opacity: 0;
}

.fade.ng-enter.ng-enter-active {
  opacity: 1;
}

.fade.ng-leave {
  transition: 0.5s linear all;
  opacity: 1;
}

.fade.ng-leave.ng-leave-active {
  opacity: 0;
}
