<md-toolbar 
	md-scroll-shrink
	back-img="{{ team }}"
	ng-if="true"
   >
   <div class="md-toolbar-tools" layout-xs="column">
      <h3>
         <span>{{team.team}}</span>
          <a ng-if="team.twitter" class="twitter" title="{{team.twitter}}" href="https://twitter.com/{{team.twitter}}" target-blank><i class="fa fa-twitter one-five"></i></a>
          <a ng-if="team.instagram" class="instagram"title="{{team.instagram}}" href="https://www.instagram.com/{{team.instagram}}" target-blank><i class="fa fa-instagram one-five"></i></a>
          <a ng-if="team.facebook" class="facebook"title="{{team.facebook}}" href="https://www.facebook.com/{{team.facebook}}" target-blank><i class="fa fa-facebook-square one-five"></i></a>
          <a ng-if="team.linkedin" class="linkedin"title="{{team.linkedin}}" href="https://www.linkedin.com/{{team.linkedin}}" target-blank><i class="fa fa-linkedin one-five"></i></a>         
      </h3>
      <span flex></span>
      <md-radio-group 
         layout="row"
         ng-model="playersPreference"
         >
         <md-radio-button
         	ng-value="p.value"
         	ng-repeat="p in playersPreferenceList"
         	ng-click="playersPreferenceChange(p)"
         	>{{ p.label }}</md-radio-button>
      </md-radio-group>      
   </div>
</md-toolbar>
<md-content layout="row" layout-wrap>
   <div
      ng-repeat="player in players | filter:playerFilter | orderBy:['name']"
      flex-gt-md="25"
      flex-md="33"
      flex-sm="100"
      ng-class="{ grayscale: !player.on, fade: true }"
      >
      <md-card>
         <md-card-header>
            <md-card-avatar>
               <img 
               	ng-src="http://{{player.site}}/{{player.league}}/large/{{player.twitter}}.png"
               	err-src="http://s3.amazonaws.com/scewpt.com/210x210.png" 
               	alt="{{player.twitter}}"
            >                 
            </md-card-avatar>
            <md-card-header-text>
               <span class="md-title">
               {{player.name}} 
               <a ng-if="player.twitter" class="twitter" title="{{player.twitter}}" href="https://twitter.com/{{player.twitter}}" target-blank><i class="fa fa-twitter one-five"></i></a>
               <a ng-if="player.instagram" class="instagram"title="{{player.instagram}}" href="https://www.instagram.com/{{player.instagram}}" target-blank><i class="fa fa-instagram one-five"></i></a>
               <a ng-if="player.facebook" class="facebook"title="{{player.facebook}}" href="https://www.facebook.com/{{player.facebook}}" target-blank><i class="fa fa-facebook-square one-five"></i></a>
               <a ng-if="player.linkedin" class="linkedin"title="{{player.linkedin}}" href="https://www.linkedin.com/{{player.linkedin}}" target-blank><i class="fa fa-linkedin one-five"></i></a>
               </span>
               <span ng-if="player.ts_scout" class="md-subhead subhead" data-subhead="Scout">{{ team.ts_scout * 1000 | date:'M/d h:mm a' }}</span>
            </md-card-header-text>
         </md-card-header>
         <img 
         	ng-if="player.twitter"
			ng-src="http://{{player.site}}/{{player.league}}/bgimage_large/{{player.twitter}}.png" 
			class="md-card-image"
			err-src="http://s3.amazonaws.com/scewpt.com/1500x500.png"
            >
         <img
         	ng-if="!player.twitter"
         	ng-src="http://s3.amazonaws.com/scewpt.com/1500x500.png" 
         	class="md-card-image"
            >            
         <md-card-title>
            <md-card-title-text><span class="md-headline">Headline</span></md-card-title-text>
         </md-card-title>
         <md-card-actions 
         	layout="row" 
         	layout-align="end start"
         	>
            <md-switch 
            	ng-change="on = !on" 
            	ng-model="player.on" 
            	aria-label="{{ player.name }}"></md-switch>
         </md-card-actions>
         <md-card-content>
            <p></p>
         </md-card-content>
      </md-card>
   </div>
</md-content>