<md-toolbar 
	md-scroll-shrink
	back-img="{{ league }}" 
	ng-if="true">
   <div class="md-toolbar-tools" layout-xs="column">
      <h3>
         <span>{{league.league}}</span>
         <a ng-if="league.twitter" class="twitter" title="{{league.twitter}}" href="https://twitter.com/{{league.twitter}}" target-blank><i class="fa fa-twitter one-five"></i></a>
         <a ng-if="league.instagram" class="instagram"title="{{league.instagram}}" href="https://www.instagram.com/{{league.instagram}}" target-blank><i class="fa fa-instagram one-five"></i></a>
         <a ng-if="league.facebook" class="facebook"title="{{league.facebook}}" href="https://www.facebook.com/{{league.facebook}}" target-blank><i class="fa fa-facebook-square one-five"></i></a>
         <a ng-if="league.linkedin" class="linkedin"title="{{league.linkedin}}" href="https://www.linkedin.com/{{league.linkedin}}" target-blank><i class="fa fa-linkedin one-five"></i></a>         
      </h3>
      <span flex></span>
      <md-radio-group 
         layout="row"
         ng-model="teamsPreference"
         >
         <md-radio-button
            ng-value="p.value"
            ng-repeat="p in teamsPreferenceList"
            ng-click="teamsPreferenceChange(p)"
            >{{ p.label }}</md-radio-button>
      </md-radio-group>
   </div>
</md-toolbar>
<md-content layout="row" layout-wrap>
   <div
      ng-repeat="team in teams | filter:teamFilter | orderBy:['team']"
      flex-gt-md="25"
      flex-md="33"
      flex-sm="100"
      ng-class="{ grayscale: !team.on, fade: true }"
      >
      <md-card>
         <md-card-header>
            <md-card-avatar>
               <a ui-sref="team(team)">      
               		<img ng-src="http://{{team.site}}/{{team.league}}/large/{{team.twitter}}.png" alt="{{team.twitter}}">
               </a>  
            </md-card-avatar>
            <md-card-header-text>
               <span class="md-title">
               {{team.team}} 
               <a ng-if="team.twitter" class="twitter" title="{{team.twitter}}" href="https://twitter.com/{{team.twitter}}" target-blank><i class="fa fa-twitter one-five"></i></a>
               <a ng-if="team.instagram" class="instagram"title="{{team.instagram}}" href="https://www.instagram.com/{{team.instagram}}" target-blank><i class="fa fa-instagram one-five"></i></a>
               <a ng-if="team.facebook" class="facebook"title="{{team.facebook}}" href="https://www.facebook.com/{{team.facebook}}" target-blank><i class="fa fa-facebook-square one-five"></i></a>
               <a ng-if="team.linkedin" class="linkedin"title="{{team.linkedin}}" href="https://www.linkedin.com/{{team.linkedin}}" target-blank><i class="fa fa-linkedin one-five"></i></a>
               </span>
               <span ng-if="team.ts_scout" class="md-subhead subhead" data-subhead="Scout">{{ team.ts_scout * 1000 | date:'M/d h:mm a' }}</span>                             
            </md-card-header-text>
         </md-card-header>
         <img
            ng-if="team.twitter"
            ng-src="http://{{team.site}}/{{team.league}}/bgimage_large/{{team.twitter}}.png" 
            class="md-card-image"
            err-src="http://s3.amazonaws.com/scewpt.com/1500x500.png"
            >
         <img
            ng-if="!team.twitter"
            ng-src="http://s3.amazonaws.com/scewpt.com/1500x500.png" 
            class="md-card-image"
            >            
         <md-card-title>
            <md-card-title-text><span class="md-headline">Headline</span></md-card-title-text>
         </md-card-title>
         <md-card-actions layout="row" layout-align="end start">
            <md-switch 
               ng-change="on = !on" 
               ng-model="team.on" 
               aria-label="{{ team.team }}"></md-switch>
         </md-card-actions>
         <md-card-content>
            <p></p>
         </md-card-content>
      </md-card>
   </div>
</md-content>