<md-toolbar md-scroll-shrink ng-if="true">
   <div class="md-toolbar-tools" layout-xs="column">
      <h3>
         <span>{{title}}</span>
      </h3>
      <span flex></span>
      <md-fab-speed-dial ng-cloak md-open="false" md-direction="left" class="md-scale down-">
         <md-fab-trigger>
            <md-button aria-label="Sort">
               <i class="fa fa-sort-alpha-asc one-five"></i>
            </md-button>
         </md-fab-trigger>
         <md-fab-actions>
            <md-button
            	ng-if="false" 
            	aria-label="Sort Alpha Asc" class="md-fab md-raised md-mini">
               <i class="fa fa-sort-alpha-asc"></i>           
            </md-button>
            <md-button
            	ng-if="true" 
            	aria-label="Sort Alpha Desc" class="md-fab md-raised md-mini">
               <i class="fa fa-sort-alpha-desc"></i>           
            </md-button>            
            <md-button
            	ng-if="true" 
            	aria-label="Sort Numeric Desc" class="md-fab md-raised md-mini">
               <i class="fa fa-sort-numeric-desc"></i>           
            </md-button>            
            <md-button
            	ng-if="true" 
            	aria-label="Sort Numeric Asc" class="md-fab md-raised md-mini">
               <i class="fa fa-sort-numeric-asc"></i>           
            </md-button>            
         </md-fab-actions>
      </md-fab-speed-dial>  
      <md-radio-group 
         layout="row-reverse"
         ng-model="leaguesPreference"
         >
         <md-radio-button
         	ng-value="p.value"
         	ng-repeat="p in leaguesPreferenceList"
         	ng-click="leaguesPreferenceChange(p)"
         	>{{ p.label }}</md-radio-button>
      </md-radio-group>      
   </div>
</md-toolbar>
<md-content layout="row" layout-wrap>
   <div
      ng-repeat="league in leagues | filter:leaguesFilter | orderBy:['profile']"
      flex-gt-md="25"
      flex-md="33"
      flex-sm="100"
      ng-class="{ grayscale: !league.on, fade: true }"
      >
      <md-card>
         <md-card-header>
            <md-card-avatar>
               <a ui-sref="league(league)">
               <img ng-src="http://{{league.site}}/{{league.league}}/large/{{league.twitter}}.png" alt="{{league.twitter}}">
               </a>  
            </md-card-avatar>
            <md-card-header-text>
               <span class="md-title">
               {{league.league}} 
               <a ng-if="league.twitter" class="twitter" title="{{league.twitter}}" href="https://twitter.com/{{league.twitter}}" target-blank><i class="fa fa-twitter one-five"></i></a>
               <a ng-if="league.instagram" class="instagram"title="{{league.instagram}}" href="https://www.instagram.com/{{league.instagram}}" target-blank><i class="fa fa-instagram one-five"></i></a>
               <a ng-if="league.facebook" class="facebook"title="{{league.facebook}}" href="https://www.facebook.com/{{league.facebook}}" target-blank><i class="fa fa-facebook-square one-five"></i></a>
               <a ng-if="league.linkedin" class="linkedin"title="{{league.linkedin}}" href="https://www.linkedin.com/{{league.linkedin}}" target-blank><i class="fa fa-linkedin one-five"></i></a>
               </span>
               <span ng-if="league.ts_scout" class="md-subhead subhead" data-subhead="Scout">{{ league.ts_scout * 1000 | date:'M/d h:mm a' }}</span>                           
            </md-card-header-text>
         </md-card-header>
         <img
         	ng-if="league.twitter" 
         	ng-src="http://{{league.site}}/{{league.league}}/bgimage_large/{{league.twitter}}.png"
            err-src="http://s3.amazonaws.com/scewpt.com/1500x500.png"
            class="md-card-image"
            >
         <img
         	ng-if="!league.twitter"
         	ng-src="http://s3.amazonaws.com/scewpt.com/1500x500.png" 
         	class="md-card-image"
            >                        
         <md-card-title>
            <md-card-title-text><span 
            		class="md-headline"></span></md-card-title-text>
         </md-card-title>
         <md-card-actions layout="row" layout-align="end start">
            <md-switch 
            	ng-change="on = !on"
            	ng-model="league.on" 
            	aria-label="{{ league.league }}">{{ league.on }}</md-switch>            
         </md-card-actions>         
         <md-card-content>
      </md-card>
   </div>	
</md-content>