<div class="md-toolbar-tools" layout-xs="column">
   <h3>
      <span>{{title}}</span>
   </h3>
   <span flex></span>
   <md-fab-speed-dial ng-cloak md-open="false" md-direction="left" class="md-scale down-">
      <md-fab-trigger>
         <md-button aria-label="Sort">
            <i class="fa fa-sort-alpha-asc one-five"></i>
         </md-button>
      </md-fab-trigger>
      <md-fab-actions>
         <md-button
            ng-if="false" 
            aria-label="Sort Alpha Asc" class="md-fab md-raised md-mini">
            <i class="fa fa-sort-alpha-asc"></i>           
         </md-button>
         <md-button
            ng-if="true" 
            aria-label="Sort Alpha Desc" class="md-fab md-raised md-mini">
            <i class="fa fa-sort-alpha-desc"></i>           
         </md-button>
         <md-button
            ng-if="true" 
            aria-label="Sort Numeric Desc" class="md-fab md-raised md-mini">
            <i class="fa fa-sort-numeric-desc"></i>           
         </md-button>
         <md-button
            ng-if="true" 
            aria-label="Sort Numeric Asc" class="md-fab md-raised md-mini">
            <i class="fa fa-sort-numeric-asc"></i>           
         </md-button>
      </md-fab-actions>
   </md-fab-speed-dial>
   <md-radio-group 
      layout="row-reverse"
      ng-model="leaguesPreference"
      >
      <md-radio-button
         ng-value="p.value"
         ng-repeat="p in leaguesPreferenceList"
         ng-click="leaguesPreferenceChange(p)"
         >{{ p.label }}</md-radio-button>
   </md-radio-group>
</div>