   <div class="md-toolbar-tools" layout-xs="column">
      <h3>
         <span>{{league.league}}</span>
         <a ng-if="league.twitter" class="twitter" title="{{league.twitter}}" href="https://twitter.com/{{league.twitter}}" target-blank><i class="fa fa-twitter one-five"></i></a>
         <a ng-if="league.instagram" class="instagram"title="{{league.instagram}}" href="https://www.instagram.com/{{league.instagram}}" target-blank><i class="fa fa-instagram one-five"></i></a>
         <a ng-if="league.facebook" class="facebook"title="{{league.facebook}}" href="https://www.facebook.com/{{league.facebook}}" target-blank><i class="fa fa-facebook-square one-five"></i></a>
         <a ng-if="league.linkedin" class="linkedin"title="{{league.linkedin}}" href="https://www.linkedin.com/{{league.linkedin}}" target-blank><i class="fa fa-linkedin one-five"></i></a>         
      </h3>
      <span flex></span>
      <md-radio-group 
         layout="row"
         ng-model="teamsPreference"
         >
         <md-radio-button
            ng-value="p.value"
            ng-repeat="p in teamsPreferenceList"
            ng-click="teamsPreferenceChange(p)"
            >{{ p.label }}</md-radio-button>
      </md-radio-group>
   </div>
