   <div class="md-toolbar-tools" layout-xs="column">
      <h3>
         <span>{{team.team}}</span>
          <a ng-if="team.twitter" class="twitter" title="{{team.twitter}}" href="https://twitter.com/{{team.twitter}}" target-blank><i class="fa fa-twitter one-five"></i></a>
          <a ng-if="team.instagram" class="instagram"title="{{team.instagram}}" href="https://www.instagram.com/{{team.instagram}}" target-blank><i class="fa fa-instagram one-five"></i></a>
          <a ng-if="team.facebook" class="facebook"title="{{team.facebook}}" href="https://www.facebook.com/{{team.facebook}}" target-blank><i class="fa fa-facebook-square one-five"></i></a>
          <a ng-if="team.linkedin" class="linkedin"title="{{team.linkedin}}" href="https://www.linkedin.com/{{team.linkedin}}" target-blank><i class="fa fa-linkedin one-five"></i></a>         
      </h3>
      <span flex></span>
      <md-radio-group 
         layout="row"
         ng-model="playersPreference"
         >
         <md-radio-button
         	ng-value="p.value"
         	ng-repeat="p in playersPreferenceList"
         	ng-click="playersPreferenceChange(p)"
         	>{{ p.label }}</md-radio-button>
      </md-radio-group>      
   </div>